body {
  margin: 0;
}
#big {
  overflow: hidden;
  position: relative;
}
#home {
  background: url(../img/home-bg.jpg) center 0 repeat fixed; min-height: 1080px;
  height: 1080px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}
#about {
  background: url(../img/home-bg2.jpg) center 0 repeat fixed; min-height: 1080px;
  height: 1080px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}
#feature {
  background: url(../img/home-bg3.jpg) center 0 repeat fixed; min-height: 1080px;
  height: 1080px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 300px;
  width: 100%;
  color: #fff;
  font-size: 5em;
  text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}
#slides {
  margin-top: 25%;
  padding-top: 50px;
  height: 100vh;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
img {
  height: 50%;
}
